<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <title>Error</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/video.png" alt="">
    </header>
    <section class="pnf">
        <h1 class="pulse animated">404</h1>
        <p class="pnf__detail">Página no encontrada</p>
    </section>
    <footer class="footer">
        <a href="">Terminos de uso</a>
        <a href="">Declaracion de privacidad</a>
        <a href="">Centro de ayuda</a>
    </footer>
</body>
</html>